<h1> New beer? </h1>

<%= form_for :beer, url: beers_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :brewer %><br>
    <%= f.text_field :brewer %>
  </p>

  <p>
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </p>

  <p>
    <%= f.label :ounce %><br>
    <%= f.number_field :ounce %>
  </p>

  <p>
    <%= f.label :calorie %><br>
    <%= f.number_field :calorie %>
  </p>

  <p>
    <%= f.label :rating %><br>
    <%= f.number_field :rating %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
