<center><h1> New beer? </h1></center>

<%= form_for :beer, url: beers_path do |f| %>

  <% if @beer.errors.any? %>
      <div id="error_explanation">
        <p>
          <center><%= pluralize(@beer.errors.count, "error") %> prohibited
          this article from being saved:
        </p>
          <% @beer.errors.full_messages.each do |msg| %>
            <li><center><%= msg %></center></li>
          <% end %></center>
      </div>
    <% end %>

  <center><p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p></center>

  <center><p>
    <%= f.label :brewer %><br>
    <%= f.text_field :brewer %>
  </p></center>

  <center><p>
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </p></center>

  <center><p>
    <%= f.label :ounce %><br>
    <%= f.number_field :ounce %>
  </p></center>

  <center><p>
    <%= f.label :calorie %><br>
    <%= f.number_field :calorie %>
  </p></center>

  <center><p>
    <%= f.label :rating %><br>
    <%= f.number_field :rating %>
  </p></center>

  <center><p>
    <%= f.submit %>
  </p></center>
<% end %>

<center><%= link_to "back", beers_path %></center>
