<h1> New beer? </h1>

<%= form_for :beer, url: beers_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :brewer %><br>
    <%= f.text_field :brewer %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
