<center>
<p>
  <strong>Name</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Brewer</strong>
  <%= @beer.brewer %>
</p>

<p>
  <strong>Price</strong>
  <%= @beer.price %>
</p>

<p>
  <strong>Ounces</strong>
  <%= @beer.ounce %>
</p>

<p>
  <strong>Calories</strong>
  <%= @beer.calorie %>
</p>

<p>
  <strong>Rating</strong>
  <%= @beer.rating %>
</p>

<br>
<h3>Add a review?</h3>
<%= form_for([@beer, @beer.reviews.build]) do |f| %>
  <p>
    <%= f.label :commenter %> <br>
    <%= f.text_field :commenter %>
  </p>

  <p>
    <%= f.label :body %> <br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

</center>
<br>
<br>
<center>
<%= link_to 'GOT A NEW BEER?', new_beer_path %>
 |  <%= link_to 'WANNA CHANGE A BEER?', edit_beer_path %>
</center>
<br>
<center>
<%= link_to "back", beers_path %>
</center>
