<p>
  <center><strong>Name</strong></center>
  <center><%= @beer.name %></center>
</p>

<p>
  <center><strong>Brewer</strong></center>
  <center><%= @beer.brewer %></center>
</p>

<p>
  <center><strong>Price</strong></center>
  <center><%= @beer.price %></center>
</p>

<p>
  <center><strong>Ounces</strong></center>
  <center><%= @beer.ounce %></center>
</p>

<p>
  <center><strong>Calories</strong></center>
  <center><%= @beer.calorie %></center>
</p>

<p>
  <center><strong>Rating</strong></center>
  <center><%= @beer.rating %></center>
</p>

<br>
<center>
<%= link_to "back", beers_path %>
</center>
<br>
<center>
<%= link_to 'GOT A NEW BEER?', new_beer_path %>
</center>
